html,
body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    scrollbar-width: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

input {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
    /*text-decoration: none;*/
    color: black;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    max-width: 1920px;
}

.custom-scroll {
    padding-right: 0;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}

.custom-scroll {
    padding-right: 0;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}

.custom-scroll::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #F7FBFC;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #4C5580;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #747DA6;
}

.custom-scroll::-webkit-scrollbar:horizontal {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@font-face {
    font-family: "Pretendard";
    src: url(../font/Pretendard-Light.otf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url(../font/Pretendard-Regular.otf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url(../font/Pretendard-Medium.otf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url(../font/Pretendard-SemiBold.otf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url(../font/Pretendard-Bold.otf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url(../font/Pretendard-Black.otf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

[type="checkbox"] {
    appearance: none; /* 기본(네이티브) 모양을 제거 */
    box-sizing: border-box;
    background-clip: content-box;
    width: 13px;
    height: 13px;
    border: 1px solid #769FCD;
    cursor: pointer;
}

[type="checkbox"]:checked {
    border-color: #4C5580;
    background-color: #769FCD;
}

input,
pre,
ul {
    margin: 0;
    padding: 0;
}

label {
    vertical-align: middle;
}

ul,
ol,
li {
    list-style: none;
}
.leaflet-pane.leaflet-map-pane {
    z-index: 0 !important;
}
.leaflet-popup-content-wrapper {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;

    border-radius: 8px !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: transparent !important;
    box-shadow: none !important;
}

.leaflet-popup, .leaflet-popup-content-wrapper {
    border: none;
    border-radius: 8px !important;
    background: transparent;
    color: transparent;
    box-shadow: none;
    padding: 0;
}

.leaflet-popup .leaflet-popup-tip-container {
    display: none !important;
}

.leaflet-popup {
    left: -23px !important;
    top: -30px !important;
}

.leaflet-popup-close-button {
    display: none !important;
}

.leaflet-div-icon {
    background: transparent !important;
    border: transparent !important;
}

.hist-modal-root .react-select__menu {
    opacity: 1 !important;
    transition: none !important;
}